<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hotelmanagesys.modules.admin.order.mapper.ServiceOrderInformationMapper">
    <select id="queryInforPastOrder" parameterType="int"  resultType="com.example.hotelmanagesys.modules.client.infor.entity.InforPastOrder">
      select * from client_infor_mation a
        LEFT JOIN client_room_reservation b
       on a.clientId = b.inforId
       where a.clientId = #{clientId}
   </select>

</mapper>
